.flag-text {
    font-size:12px;
    font-weight: 800;
    font-family: 'Oxanium';
    color: white;
    margin-bottom:0;
}

.long-flag {
    background-color: #44f656;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width:76px;
    height:19px;
    line-height:19px;
    text-align: center;
}

.short-flag {
    background-color: #e30f0f;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width:76px;
    height:19px;
    line-height:19px;
    text-align: center;
}

.left-card-contents {
    float:left;
    width:30%;
}

.right-card-contents {
    float:left;
    width:70%;
}